* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 170px;
    height: 170px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.title {
    font-size: 22px;
    margin-bottom: 20px;
    font-family: sans-serif;
    width: 350px;
    text-align: center;
}

.input {
    max-width: 500px;
    min-width: 250px;
    width: 400px;
    padding: 10px;
    margin: 10px 0;
}

.textarea {
    max-width: 550px;
    min-width: 350px;
    height: 550px;
    width: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    font-size: 10;
}

.aviso {
    font-size: 8;
    width: 400px;
    text-align: center;
}

label {
    font-size: 17px;
    margin: 10px;
}

.coments {
    padding: 15px;
    font-size: 17px;
    max-height: 100%;
    max-width: 460px;
    height: 100%;
    width: 460px;
    text-align: left;

}

.btn {
    padding: 10px;
    background-color: #075AAE;
    border: none;
    cursor: pointer;
    color: white;
    padding: 13px 38px;
    width: 220px;
}

.copy {
    margin-top: 20px;
    font-size: 12px;
    color: white;
}

#mensagens {
    display: block;
    height: 40px;
    /* Define a altura desejada */
    margin: 6px 0 16px 0;
    /* Define a largura se necessário */
    max-width: 400px;
    min-width: 200px;
    width: 400px;

}

.select {
    height: 100%;
    /* Define a altura desejada */
    width: 500px;
    max-width: 500px;
    min-width: 200px;
    margin: 6px 0 16px 0;
    /* Define a largura se necessário */
    justify-content: center;
    display: flex;
}